<%- include('../partials/header');%>

<header class="bg-info">
    <div class="container text-center p-3">
        <h1>Welcome to campgrounds Page</h1>
        <p>View and Check our best camp grounds recommendations</p>
        <a href="campgrounds/new" class="btn btn-light col-md-4 col-lg-3 col-6 mx-auto my-2" >Add New Camp</a>
    </div>
</header>

<section >
    <div class="container">
        <div class="row no-gutters">
            
        </div>

    </div>
</section>

<%- include('../partials/footer');%>
